<h1>Hi! I'm Matias 👋</h1>
<p>Born in 🇦🇷 Argentina and living in 🇪🇸 Spain, open to new challenges and experiences.<br/>Cofounder and Developer of <a href="https://urutienda.com">Urutienda</a><br/>
Frontend development Teacher at <a href="https://coderhouse.com">Coderhouse</a><br/>
Frontend development Content Creator on my <a href="https://youtube.com/carpicoder">YouTube channel</a></p>

<a href="https://youtube.com/carpicoder" target="_blank"><img src="https://img.shields.io/badge/@carpicoder-%23FF0000.svg?style=flat-square&logo=YouTube&logoColor=white" alt="@carpicoder"></a> <img src="https://img.shields.io/badge/{{subscriberCount}}%20subs%20|%20{{videoCount}}%20videos%20|%20{{viewCount}}%20views-2F3134?style=flat-square&logo=hyperledger&logoColor=white">

<a href="https://instagram.com/carpicoder"><img src="https://img.shields.io/badge/@carpicoder-%23E4405F.svg?style=flat-square&logo=Instagram&logoColor=white" alt="@carpicoder"></a>
<a href="https://x.com/carpicoder"><img src="https://img.shields.io/badge/@carpicoder-%23000000.svg?style=flat-square&logo=X&logoColor=white" alt="@carpicoder"></a>
<a href="https://threads.com/carpicoder"><img src="https://img.shields.io/badge/@carpicoder-000000?style=flat-square&logo=Threads&logoColor=white" alt="@carpicoder"></a>
<a href="https://tiktok.com/@carpicoder"><img src="https://img.shields.io/badge/@carpicoder-%23000000.svg?style=flat-square&logo=TikTok&logoColor=white" alt="@carpicoder"></a>
<a href="https://discord.gg/wHKxGbMt4A"><img src="https://img.shields.io/badge/Carpi%20Coder-%235865F2.svg?style=flat-square&logo=discord&logoColor=white" alt="Carpi Coder"></a>
<a href="https://linkedin.com/in/matiascoletta"><img src="https://img.shields.io/badge/Matias%20Coletta-%230077B5.svg?style=flat-square&logo=linkedin&logoColor=white" alt="Matias Coletta"></a>

<h2>Stuff I work with</h2>

<h3>Frontend</h3>

<img src="https://img.shields.io/badge/HTML5-%23E34F26.svg?style=flat-square&logo=html5&logoColor=white" alt="HTML5"> <img src="https://img.shields.io/badge/CSS3-%231572B6.svg?style=flat-square&logo=css3&logoColor=white" alt="CSS3"> <img src="https://img.shields.io/badge/JavaScript-%23323330.svg?style=flat-square&logo=javascript&logoColor=%23F7DF1E" alt="JavaScript"> <img src="https://img.shields.io/badge/Bootstrap-%238511FA.svg?style=flat-square&logo=bootstrap&logoColor=white" alt="Bootstrap"> <img src="https://img.shields.io/badge/Tailwind-%2338B2AC.svg?style=flat-square&logo=tailwind-css&logoColor=white" alt="TailwindCSS"> <img src="https://img.shields.io/badge/SASS%20&%20SCSS-hotpink.svg?style=flat-square&logo=SASS&logoColor=white" alt="SASS"> <img src="https://img.shields.io/badge/React-%2320232a.svg?style=flat-square&logo=react&logoColor=%2361DAFB" alt="React"> <img src="https://img.shields.io/badge/Jest-%23C21325?style=flat-square&logo=jest&logoColor=white" alt="Jest">

<h3>WordPress</h3>

<img src="https://img.shields.io/badge/WooCommerce-%23117AC9.svg?style=flat-square&logo=WordPress&logoColor=white" alt="WordPress"> <img src="https://img.shields.io/badge/Elementor-%23117AC9.svg?style=flat-square&logo=WordPress&logoColor=white" alt="WordPress"> <img src="https://img.shields.io/badge/Themes%20&%20Plugins%20Development-%23117AC9.svg?style=flat-square&logo=WordPress&logoColor=white" alt="WordPress">

<h3>Backend</h3>

<img src="https://img.shields.io/badge/PHP-%23777BB4.svg?style=flat-square&logo=php&logoColor=white" alt="PHP"> <img src="https://img.shields.io/badge/MySQL-4479A1.svg?style=flat-square&logo=mysql&logoColor=white" alt="MySQL"> <img src="https://img.shields.io/badge/Firebase-%23039BE5.svg?style=flat-square&logo=firebase" alt="Firebase">

------------
<p align="center">This README file is generated <b>every 24 hours</b>!</br>Last refresh: {{date}}<br />Kudos to @thmsgbrt for creating <a href="https://medium.com/@th.guibert/how-to-create-a-self-updating-readme-md-for-your-github-profile-f8b05744ca91">this tutorial</a> on how to do this.</p>